<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title><%= title%></title>
</head>

<body>
    <div class="curated-space-wrapper">
        <div class="filter-wrapper">
            <div class="btn space-btn">Archiv &darr;</div>
        </div>
    </div>
    <div class="filter-wrapper">
        <div class="btn space-btn">Curated Space &uarr;</div>
        <div class="btn filter-btn">Web</div>
        <div class="btn filter-btn">Print</div>
        <div class="btn filter-btn">Raum</div>
    </div>
    <div class="foot-wrapper">
        <div class="foot-col col-1">
            <p>
                David Wahrenburg <br>
                mail@davidwahrenburg.de <br>

                GitHub &larr; <a href="">@schnavy</a>
            </p>
        </div>
        <div class="foot-col col-2">
            <p>Ich arbeite in Leipzig als frei­be­ruf­licher Gestalter und beschäftige mich mit experimenteller
                Webgestaltung, und -entwicklung, Typo­grafie, sowie Type- und Editorial Design — sowohl im
                künstlerischen, als auch angewandten Kontext. Ich bin immer
                offen für außergewöhnliche Projekte.
            </p>
        </div>
        <div class="foot-col col-3"></div>
        <div class="foot-col col-4">
            <p>
                Impressum/Copyright <br>
                ©&nbsp;David&nbsp;Wahrenburg,&nbsp;2021
            </p>
        </div>
    </div>
</body>
<script src="js/grid.js" defer></script>
<script src="js/main.js" defer></script>

</html>