<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
    <title>mail@davidwahrenburg.de</title>



    <script type="text/javascript">

        var activeArray = <%- JSON.stringify(work) %> ;
        
        activeArray.forEach((event)=>{
            for(i = 0; i< event.tags.length; i++){
                event.tags[i]=event.tags[i].toLowerCase();
            }
            // for(i = 0; i< event.pimgs.length; i++){
            //     event.pimgs[i] = event.pimgs[i].replace("/uploads/", "")
            // }
            // if(event.thumb){
            //     event.thumb = event.thumb.replace("/uploads/", "")
            // }
        })
        
        // Sort

        activeArray.sort(function(a, b) {
            var keyA = new Date(a.date),
            keyB = new Date(b.date);
            // Compare the 2 dates
            if (keyA < keyB) return 1;
            if (keyA > keyB) return -1;
            return 0;
        });
        console.log(activeArray)

        // Preloader
        let thumbs = [];
            
        for (i = 0; i < activeArray.length; i++) {
            if (activeArray[i].thumb != undefined) {
                let temp = new Image();
                temp.src = "https://dw-assets.fra1.digitaloceanspaces.com/PF/" + activeArray[i].thumb;
                thumbs.push(temp)
                activeArray[i].pimgs.unshift(activeArray[i].thumb)
            } 

        }
    
    
    
      </script>


    
</head>

<body>
    <section id="curated" class="curated-space-wrapper open">
        <div id="cursor">
            <svg id="svg-cursor" height="400" width="400">
                <circle cx="200" cy="200" r="0" stroke-width="0"></circle>
            </svg>
    </div>
        <div id="archive-btn" class="filter-wrapper">
            <a href="#archive" id="archive-btn" class="btn space-btn inverted">Archive &darr;</a>
        </div>
    </section>
        <section class="foot-wrapper">
        <div class="foot-col col-1">
            <p>
                David Wahrenburg <br>
                <a href="mailto:mail@davidwahrenburg.de" target="_blank" rel="noopener noreferrer"> &rarr;&nbsp;mail@davidwahrenburg.de</a> <br>
            </p>
        </div>
        <div class="foot-col col-2">
            <!--<p>Ich arbeite in Leipzig als frei­be­ruf­licher Gestalter und beschäftige mich mit experimenteller
                Webgestaltung, und -entwicklung, Typo­grafie, sowie Type- und Editorial Design — sowohl im
                künstlerischen, als auch angewandten Kontext. Ich bin immer
                offen für außergewöhnliche Projekte.
            </p>-->
             <p>Leipzig based graphic designer and programmer, with a focus on experimental web developement and exploring the area betweeen printed matter, digital spheres and physical spaces. I am open for anything in or out of the ordinary.
            </p>
        </div>
        <div class="foot-col col-3">
            <p>
            <!--<a href="" class="neg-indent" >Curriculum&nbsp;Vitae</a>
                <br><br>
                <p>GitHub &rarr; <a href="github." target="_blank" rel="noopener noreferrer">@schnavy</a></p>-->

                <div id="impressum-btn" class="link" href=""> Impressum</div>
                
                <!--All&nbsp;rights&nbsp;reserved&nbsp;©&nbsp;2021-->
            </p>
        </div>
        <div class="foot-col row-2 imprint-container">
        Responsible for shown content + design and developement of this website:&nbsp;&nbsp;
        David Wahrenburg — Dimpfelstraße 46, D-04347 Leipzig — ©2021 all rights reserved
        </div>
    </section>
    <section id="archive" class="archive-wrapper">
    <div class="filter-wrapper">
        <a href="#curated" id="curated-btn" class="btn space-btn">Curated Space &uarr;</a>
        <div class="filter-container">
        </div>
    </div>
</section>

</body>
<script src="js/grid.js" defer></script>
<script src="js/curtain.js" defer></script>
<script src="js/main.js" defer></script>

</html>