@font-face {
    font-family: 'Monument Grotesk';
    src: url('../fonts/ABCMonumentGrotesk-Medium.woff2') format('woff2'),
        url('fonts/ABCMonumentGrotesk-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Monument Grotesk';
    src: url('../fonts/ABCMonumentGrotesk-RegularItalic.woff2') format('woff2'),
        url('../fonts/ABCMonumentGrotesk-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('../fonts/ABCMonumentGrotesk-MediumItalic.woff2') format('woff2'),
        url('../fonts/ABCMonumentGrotesk-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Monument Grotesk';
    src: url('../fonts/ABCMonumentGrotesk-Regular.woff2') format('woff2'),
        url('../fonts/ABCMonumentGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Monument Grotesk';
    font-size: 118%;
    line-height: 110%;
    margin-bottom: 110px;
    /* scroll-snap-type: y mandatory;
    scroll-snap-points-y: 100%; */
    font-family: monospace;

    letter-spacing: -0.3px;
    margin-bottom: 150px;
}

a {
    color: blue;
    cursor: ne-resize;
    text-decoration: none;
}

a:hover {
    /* font-style: italic; */
}

.foot-wrapper a {
    color: white;
}

.foot-wrapper {
    box-sizing: border-box;
    width: 100%;
    /* padding: 16px; */
    background-color: black;
    color: white;
    display: grid;
    grid-template-columns: 1fr 4fr min-content;
    grid-template-columns: 1fr 4fr 120px;
    gap: 6px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.foot-wrapper .row-2 {
    background-color: white;
    color: black;
    grid-column: 1/5;
}

.foot-col {
    padding: 12px;
}

.col-2 p {
    max-width: 950px;
}

.col-3 p {
    white-space: nowrap;
}

.col-3 {
    /* text-align: right; */
}

.link {
    cursor: pointer;
    font-style: normal;
}

.link:hover {
    font-style: italic;
}

.imprint-container {
    display: none;
}

.imprint-container.open {
    display: block;
}


@media(max-width: 800px) {
    .foot-wrapper {
        position: relative;
        grid-template-columns: 1fr;
        padding-top: 6px;
        padding-bottom: 6px;
    }

    .foot-col {
        padding: 6px 4px 6px 6px;
    }

    #impressum-btn {
        display: none;
    }
}

.col-3 {
    padding-right: 10px;
}

.curated-space-wrapper {
    cursor: none;
    /* scroll-snap-align: start; */

    /* display: grid; */
    /* grid-template-columns: repeat(3, min-content); */
    /* gap: 15px; */
    width: 100vw;
    /* background-color: lightblue; */

    height: calc(100vh - 70px);

}

.curated-space-wrapper img {
    top: 0;
    position: absolute;
    width: 100%;
    height: calc(100vh - 70px);
    object-fit: cover;
    z-index: -10;
    background-color: rgb(96, 96, 96);
    overflow: hidden;
}

@media(max-width: 800px) {
    .curated-space-wrapper {
        position: fixed;
        display: none;
        z-index: 100;
        height: 100vh;
        width: 100vw;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .curated-space-wrapper img {
        height: 100%;
    }

    .curated-space-wrapper.open {
        display: block;
    }
}

.archive-wrapper {
    /* scroll-snap-align: start; */
    min-height: 100vh;

}

.filter-wrapper {
    /* height: 100px; */
    margin-bottom: 30px;
    padding: 6px;
    z-index: 10;
}

.btn {
    display: inline-block;
    padding: 8px 14px;

    margin: 6px 6px 6px 6px;
    background-color: rgb(186, 186, 186);
    color: white;
    border-radius: 100px;
    outline: 2px solid rgb(186, 186, 186);
    box-sizing: border-box;
    cursor: pointer;
    text-decoration: none;

    user-select: none;
    /* transition: all 100ms ease-out; */
}

.filter-container {
    display: inline-block;
}

.filter-btn.active-btn {
    background-color: rgb(0, 0, 255);
    outline: 2px solid rgb(0, 0, 255);
    color: white;
    /* font-style: italic; */
}

@media(min-width: 800px) {
    .filter-wrapper {
        margin-bottom: 50px;
    }


    .filter-btn:hover,
    .filter-btn.active-btn {
        /* background-color: rgb(0, 0, 255); */
        /* outline: 2px solid rgb(0, 0, 255); */
        color: white;
        /* font-style: italic; */
    }
    
    .filter-btn:hover {
        outline: 2px solid rgb(0, 0, 255);
    }
}

.space-btn {
    background-color: transparent;
    outline: 2px dashed black;
    color: black;
    margin-right: 16px;
}

.space-btn:hover {
    background-color: transparent;
    outline: 2px solid black;
}

.space-btn.inverted {
    outline: 2px dashed white;
    mix-blend-mode: difference;
    color: white;
}

.space-btn.inverted:hover {
    outline: 2px solid white;
}

@media(max-width: 800px) {
    .filter-wrapper {
        padding: 6px 0px;
    }
}

.grid-wrapper {
    word-wrap: break-word;
    white-space: normal;
    /* display: grid; */
    /* grid-template-columns: repeat(4, 1fr); */
    /* gap: 15px; */
    padding: 6px;
    max-width: 100vw;
}

.grid-card {
    vertical-align: top;
    display: inline-block;
    padding: 6px;
    width: 370px;
    /* margin-bottom: 16px; */
    /* background-color: lightblue; */



}

.grid-card a:hover {
    font-style: italic;

}

.grid-card p,
.grid-card a {
    /* max-width: 95%; */
    /* max-height: 100px; */
    overflow: hidden;
    margin-bottom: 2px;

}

.grid-card .title {
    /* text-decoration: underline; */
    /* font-style: italic; */
}

.grid-card .description {
    font-style: italic;
    margin: 6px 0px;
}

.grid-card .extendable {
    cursor: pointer;
}

.grid-card .year {
    /* letter-spacing: -0.07em;
    font-variant-numeric: tabular-nums; */
    /* font-style: italic; */
}

.grid-card .card-image {
    margin: 6px 0px;
    max-width: 100%;
    /* background-color: green; */
    /* min-height: 200px; */
    max-height: 300px;
    object-fit: cover;
    cursor: pointer;
    outline: 1px solid white;

}
.grid-card .card-image:hover {
outline: 1px solid lightgray;
}

@media(max-width: 800px) {
    .grid-wrapper {
        padding: 0;
    }

    .grid-card {
        vertical-align: top;
        display: inline-block;
        padding: 6px;
        width: 100%;
        box-sizing: border-box;
        /* margin-bottom: 16px; */
        /* background-color: lightblue; */
    }

    .grid-card .card-image {
        max-width: 100%;
        max-height: 80vw;
    }

}


.indent {
    margin-left: 0px;
}




#cursor {
    pointer-events: none;
    position: absolute;
    mix-blend-mode: difference;
    z-index: 1000;

}

#cursor svg {}

#cursor svg circle {
    fill: #f7f8fa;
    z-index: 1000;

}